#tutorialMainDiv {
    display: flex;
    height: 100%;
}

#tutorialDrawer {
    min-width: 20%;
}

.drawerExpansion {
    background-color: #bdbdbd;
}

.stepContainer {
    width: 100%;
    overflow-y: scroll;
}

.miniStep {
    margin-bottom: 1em;
    margin-top: 1em;
}

.stepParagraph {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.codeExample {
    background-color:#262626;
    color:white;
    font-family: monospace;
    font-size: 1.1rem;
    margin: 1rem;
    padding: 0.5rem;
    width: 95%;
    min-height: 20rem;
}

.codeExampleContainer {
    font-family: monospace;
    font-size: 1.1rem;
    width: 98%;
    min-height: 20rem;
    display: flex;
    flex-direction: row;
}

.codeExampleSmall {
    background-color:#262626;
    color:white;
    width:50%;
    padding: 0.5rem;
    margin: 1rem;
}

#exampleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.8em;
    margin-top: 1em;
}